@using System.Web.Optimization;
@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/react")
</head>
<body>
    <div class="text-center">
        <h1 class="appName">todos</h1>
    </div>
    <div id="container"></div>

    <script src="@Url.Content("~/Scripts/jsx/Comment.jsx")"></script>
</body>
</html>